VITE_API_BASE_URL=http://localhost:8000
VITE_MSAL_CLIENT_ID=a69d5fb3-99af-440f-b88d-01f4aa7a8db2
VITE_MSAL_TENANT_ID=93ce9c27-3bb2-4ef2-b686-1829de4f2584
VITE_MSAL_AUTHORITY=https://login.microsoftonline.com/93ce9c27-3bb2-4ef2-b686-1829de4f2584
VITE_MSAL_REDIRECT_URI=http://localhost:5173
VITE_MSAL_API_SCOPE=api://a69d5fb3-99af-440f-b88d-01f4aa7a8db2/access_as_user
